/* GLOBAL STYLES */
//import var
@import '@/styles/vars.scss';


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: $font-primary;
    background-color: $main-back;
    color: $white;
}